<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeNews</title>
</head>
<body>
    <h2>Fake News Detection</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio velit numquam quaerat fugiat. Sed, ratione nulla, aspernatur reprehenderit harum neque debitis, laudantium qui aut recusandae temporibus consectetur sint beatae!</p>
</body>
</html>